*{
    margin: 0;
    padding: 0;
}
.menu{
    padding-top: 24px;
}

.parte_izquierda{
    display: flex;
    width: 98%;
    margin-left: 10px;
    border-style: solid;
    border-color: chocolate;
    margin-top: 10px;
    padding-top: 10px;
    height: 500px;
}
.mascota{
    width: 48%;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(247, 209, 84);
}
.medioambiente{
    width: 50%;
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: rgb(247, 209, 84);
}
.ancho{
   
   width: 80%;
   height: 70px;
   margin:auto;
}

.logo p a{
    color:#fff;
    font-size:40px ;
}
nav ul li{
    padding-left:15px ;
}
nav ul li a{
    color:#fff !important;
    font-size: 22px;
}
nav ul li a:hover{
    color: rgb(28, 96, 64) !important;
}
nav li{
    list-style-type:none;
}
.body {
    background-image: url("../../assets/fondo.jpeg");
}