<div class="body">
    <div class="parte_izquierda">
        <div class="mascota d-flex flex-column align-items-center justify-content-center">
            <p>Cuida tu madre tierra</p>
            <img src="../../assets/terra.jpg" width="50%">
        </div>
        <div class="medioambiente d-flex align-items-center">
            <p class="px-4">El planeta se enfrenta a una triple emergencia medioambiental ligada al cambio climático, la contaminación y la pérdida de la biodiversidad. Y, según advierte Naciones Unidas, estas tres crisis suponen una seria amenaza para la humanidad.</p>
        </div>
        
    </div>
</div>
