<div class="body">
    <div class="sobre_nosotros">
        <nav class="quienes_somos">
            <li>
                <p>Somos un grupo de jovenes con muchas ganas de revertir el cambio climatico, por eso decidimos crear esta web</p>
    
            </li>
        </nav>
        <nav class="mision">
            <li>
                <p>Nuestra misión es lograr inspirar y educar a gente de todo el mundo, para crear conciencia sobre la situacion en la que vivimos </p>
    
            </li>
        </nav>
        <nav class="contacto">
            <li>
                <p>Necesitas más información? escribenos a este mail: treehuggersweb@gmail.com :)</p>
            </li>
        </nav>
    
        
    </div>
</div>

