<div class="body">
    <div class="d-flex">
        <div class="parte_izquierda">
            <div class="destacadas">
                <p>Noticias destacadas de hoy presione <a class="nav-link" href="https://www.latercera.com/nacional/noticia/declaran-la-primera-alerta-ambiental-para-este-sabado-en-la-region-metropolitana/7P3LYKBAMJCR5ND6MFN3QX4EN4/">Aqui</a></p>
            </div>
            <div class="recientes">
                <p>Noticias destacadas de hoy presione <a class="nav-link" href="https://news.un.org/es/story/2022/05/1507922">Aqui</a></p>
            </div>
        </div>
        <div class="parte_derecha">
            <nav class="sidebar">
                <li>
                    <p>Side bar/Filtros noticias</p>
                </li>
            </nav>
        </div>
    </div>
</div>