<div class="body">
    <div class="parteDeArriba">
        <nav class="Bienvenida">
            <li>
                <p>Bienvenida Usuario</p>
            </li>
        </nav>
    </div>
    
    <div class="row">
        <div class="parte_izquierda col-12 col-md-7">
        
            <div class="Arbol">
                <p>Arbol Dinamico</p>
                <div>
                    <img src="../../assets/arbol.jpg" width="100%">
                </div> 
            </div>
            <div class="Misiones">
                <p class="titulo">Misiones a realizar</p>
                <div>
                    <p class="texto-misiones">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit praesentium molestias ea, cupiditate unde neque totam earum assumenda ad voluptatum cum, libero facere reiciendis saepe quisquam, ab quasi voluptatibus ipsa fugit autem laborum dolorum nostrum eos? Veritatis animi quod corrupti labore quas consectetur optio nihil aspernatur perspiciatis, ipsum laudantium velit?</p>
                </div>
            </div>
            
        </div>
    
        <div class="parte_derecha col-12 col-md-4">
            <nav class="sidebar">
                <li>
                    <p>aqui ira la informacion expuesta en el sidebar</p>
                </li>
            </nav>
        </div>
    </div>
</div>

