<div class="body">
  
    <div class="slider">
      <h2 class="display-4 text-center container fw-bold">
          ¡El mejor sitio para informarte sobre el medio ambiente!
      </h2>
    
      <div id="carouselExampleInterval" class="carousel slide  w-50 m-auto" data-bs-ride="carousel">
          <div class="carousel-inner rounded-3" id="fotos">
      
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
          </button>
      </div>
    </div>
    
    <div class="d-flex">
    
    <div class="parte_izquierda">
      <nav class="presentacion">
          <li>
              <p>Tree huggers web es un sitio para educar, informar y ayudar a el medioambiente</p>
          </li>
      </nav>
      <nav class="consejos">
          <li>
                <p> consejos destacados, presione <a [routerLink]="['/consejos']" routerLinkActive="router-link-active"  class="nav-link">Aqui</a> </p>
          </li>
      </nav>
      <nav class="noticias">
          <li>
              <p> noticias destacadas, presione  <a [routerLink]="['/noticias']" routerLinkActive="router-link-active"  class="nav-link">Aqui</a></p>
          </li>
      </nav>
    </div>
    <div class="parte_derecha">
      <nav class="sidebar">
          <li>
              <p>Puedes hacer el cambio HOY</p>
              <img src="../../assets/oso.jpeg" width="100%">
              <p>Oso polar, animal en peligro de extincion </p>
          </li>
      </nav>
    </div>
    
    </div>
  
  </div>
  
  
  
  <!-- 
  <router-outlet></router-outlet> -->
  