<div class="body">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="node_modules/jquery-captcha/dist/jquery-captcha.min.js"></script>

    <form class="custom-form" method="post">
      <h1>Registro</h1>
      <input
      type="username"
      [(ngModel)]="username"
      name="username"
      placeholder="Nombre de usuario"
      required="required"
      />

      <input
        type="nombre"
        [(ngModel)]="nombre"
        name="nombre"
        placeholder="Nombre"
        required="required"
      />

      <input
      type="apellido"
      [(ngModel)]="apellido"
      name="apellido"
      placeholder="Apellido"
      required="required"
      />

      <input
        type="email"
        [(ngModel)]="correo"
        name="email"
        placeholder="Correo electronico"
        required="required"
      />

      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        placeholder="Contraseña"
        required="required"
      />
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="password"
        placeholder="Comprobar contraseña"
        required="required"
      />


      <button type="submit" (click)="register()">Registrarse</button>
    </form>
    <div class="Sesion">
      <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="nav-link" >¿Ya tienes una cuenta? Inicia Sesión</a>
    </div>
  </div>
